---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="absolute top-0 right-0 z-50 p-2">
    <div class="p-2 bg-blue-800 border-0">
      <select
        class="py-1.5 pl-1 text-base border-0 bg-white focus:outline-none focus:border-0"
        autocomplete="off"
        id="models"
      >
        <option class="py-1.5" selected="true" disabled hidden
          >Choose Model</option
        >
        <option class="py-1.5" value="Lowdown_Update.glb">Lowdown</option>
        <option class="py-1.5" value="Mining_outpost.glb">Mining Outpost</option
        >
      </select>
    </div>
  </div>

  <div id="threeContainer" class="absolute top-0 left-0 w-full h-full"></div>
  <div
    id="loadingBar"
    class="hidden absolute bottom-0 left-0 w-0 h-1.5 bg-red-700 z-50"
  >
  </div>
  <script src="../scripts/threeLogic.ts"></script>
</Layout>
